<div class="picture-container">
  <div class="title">{{ "profilePicture.title" | translate }}</div>
  <div *ngIf="!profilePicture" class="empty-user">
    <mat-icon svgIcon="empty-user"></mat-icon>
  </div>
  <div *ngIf="profilePicture" class="image-container">
    <img [src]="profilePicture" alt="Profile Picture" class="profile-picture">
    <mat-icon (click)="deletePhoto()" svgIcon="delete"></mat-icon>
  </div>

  <button>
    <label for="files">{{ "profilePicture.uploadProfilePicture" | translate }}</label>
    <input (change)="selectPhoto($event)" id="files" type="file" [accept]="possibleFormats">
  </button>

  <div class="description">
    <span>{{ "profilePicture.uploadNew" | translate }}</span>
    <span>{{ "profilePicture.maximumUpload" | translate }}
      <span class="bold">{{maxFileSize}} {{ "profilePicture.mb" | translate }}</span>
    </span>
  </div>
</div>