@import 'media-variables';
@import 'mixins';

button {
  @include defaultButton; 

  &.dark-gray {
    background-color: var(--dark-gray);
    color: var(--white);
    -webkit-text-fill-color: var(--white);
    border: none;

    &:hover:not([disabled]) {
      background-color: var(--dark-gray-90);
    }

    &:active:not([disabled]) {
      background-color: var(--dark-gray-80);
    }
  }

  &.light-gray {
    @include lightGrayButton;
  }

  &.red {
    background-color: var(--red);
    color: var(--white);
    -webkit-text-fill-color: var(--white);
    border: none;

    &:hover:not([disabled]) {
      background-color: var(--red-90);
    }

    &:active:not([disabled]) {
      background-color: var(--red-80);
    }

    &:disabled  {
      background-color: var(--dark-gray-80);
    }
  }

  &.blue {
    background-color: var(--blue);
    color: var(--white);
    -webkit-text-fill-color: var(--white);
    border: none;

    &:hover:not([disabled]) {
      background-color: var(--blue-90);
    }

    &:active:not([disabled]) {
      background-color: var(--blue-80);
    }

    &:disabled  {
      background-color: var(--dark-gray-80);
    }
  }

  &.light-blue {
    background-color: var(--light-blue);
    color: var(--white);
    -webkit-text-fill-color: var(--white);
    border: none;

    &:hover:not([disabled]) {
      background-color: var(--light-blue-90);
    }

    &:active:not([disabled]) {
      background-color: var(--light-blue-80);
    }
  }

  &.big {
    @include bigButton;
  }

  &.medium {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    height: 40px;
    padding: 10px;

    mat-icon {
      height: 16px;
      width: 16px;
    }

    .left {
      margin-right: 6px;
    }
  }


  &.small {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 0 10px;
    height: 35px;

    mat-icon {
      height: 16px;
      width: 16px;
    }

    .left {
      margin-right: 5px;
    }
  }

  &.full-width {
    width: 100%;
  }
}