<div class="label" *ngIf="label">{{ label }}<span *ngIf="isRequired" class="is-required">*</span></div>
<mat-form-field [class.error]="isError" appearance="outline">
  <mat-icon matSuffix *ngIf="!!icon" [svgIcon]="icon"></mat-icon>
  <input [mask]="mask" [type]="_type" [dropSpecialCharacters]="false" [disabled]="!!disabled"
    [placeholder]="placeholder" [ngModel]="value" (ngModelChange)="onChange($event.trim())" matInput type="text" />

  <mat-icon *ngIf="type === 'password'" type="button" matSuffix (click)="onHide()">{{ hide ? "visibility_off" :
    "visibility" }}
  </mat-icon>
</mat-form-field>