<div class="title">{{ title! | translate }}</div>
<app-button appShowForAdmin [active]="showBtnForAdmin" [user]="currentUser!" *ngIf="btnText" (click)="onClick.emit()"
  [icon]="btnIcon" [text]="btnText" [btnSize]="btnSize" [btnColor]="btnColor">
</app-button>
<mat-list>
  <mat-list-item *ngFor="let breadcrumb of breadcrumbList" [class.inactive]="breadcrumb.path">
    <span class="text" [routerLink]="breadcrumb.path">{{ breadcrumb.name | translate }}</span>
    <span class="separator" *ngIf="breadcrumb.path">></span>
  </mat-list-item>
</mat-list>