<table [dataSource]="users | paginate: paginationConfig" mat-table>
  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell>
      <div class="sort-header">
        <span>{{ "userList.table.id" | translate }}</span>
        <mat-icon (click)="sort(userListSort.id)" svgIcon="sort"></mat-icon>
      </div>
    </th>
    <td *matCellDef="let element" mat-cell>
      <span>{{ element.id }} </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="avatar">
    <th *matHeaderCellDef mat-header-cell>
      <span>{{ "userList.table.avatar" | translate }}</span>
    </th>
    <td *matCellDef="let element" mat-cell>
      <div class="user">
        <div *ngIf="!element.avatar" class="empty-user">
          <mat-icon svgIcon="empty-user"></mat-icon>
        </div>
        <img *ngIf="element.avatar" [src]="element.avatar" class="profile-picture" alt="user-avatar">
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th *matHeaderCellDef mat-header-cell>
      <div class="sort-header">
        <span>{{ "fields.email" | translate }}</span>
        <mat-icon (click)="sort(userListSort.email)" svgIcon="sort"></mat-icon>
      </div>
    </th>
    <td *matCellDef="let element" mat-cell>
      <span>{{ element.email }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="userName">
    <th *matHeaderCellDef mat-header-cell>
      <div class="sort-header">
        <span>{{ "fields.username" | translate }}</span>
        <mat-icon (click)="sort(userListSort.userName)" svgIcon="sort"></mat-icon>
      </div>
    </th>
    <td *matCellDef="let element" class="desktopLG-cell" mat-cell>
      <span>{{ element.userName }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="birthday">
    <th class="col-xxl" *matHeaderCellDef mat-header-cell>
      <span>{{ "fields.birthday" | translate }}</span>
    </th>
    <td class="col-xxl" *matCellDef="let element" mat-cell>
      <span>{{ element.birthday | date: 'dd/MM/YYYY' }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th class="col-xl" *matHeaderCellDef mat-header-cell>
      <span>{{ "fields.phone" | translate }}</span>
    </th>
    <td class="col-xl" *matCellDef="let element" mat-cell>
      <span>{{ element.codeCountry.value + ' ' + element.phone }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th class="col-xxl" *matHeaderCellDef mat-header-cell>
      <span>{{ "fields.country" | translate }}</span>
    </th>
    <td class="col-xxl" *matCellDef="let element" mat-cell>
      <span>{{ element.country }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="roles">
    <th *matHeaderCellDef mat-header-cell>
      <span>{{ "userList.table.roles" | translate }}</span>
    </th>
    <td class="col-role" *matCellDef="let element" mat-cell>
      <div *ngFor="let role of element.roles">{{ role }}</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="banned">
    <th *matHeaderCellDef mat-header-cell>
      <span>{{ "userList.table.banned" | translate }}</span>
    </th>
    <td *matCellDef="let element" mat-cell>
      <span>{{ element.banned }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="banReason">
    <th class="col-xl" *matHeaderCellDef mat-header-cell>
      <span>{{ "userList.table.banReason" | translate }}</span>
    </th>
    <td class="col-xl" *matCellDef="let element" mat-cell>
      <span>{{ element.banReason || '--' }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell>
      <span>{{ "userList.table.actions" | translate }}</span>
    </th>
    <td *matCellDef="let element" class="actions" mat-cell>
      <mat-icon appShowForAdmin [user]="element" [notShowForAdmin]="true" svgIcon="ban"
        (click)="openBanUserPopup(element.id, element.banned)"></mat-icon>
      <mat-icon appShowForAdmin [user]="currentUser!" [onlyForSuperAdmin]="true" class="switch-roles"
        (click)="openChangeRolePopup(element.id, element.roles)" svgIcon="switch-roles"></mat-icon>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns" mat-row>
  </tr>
</table>

<app-pagination (pageChange)="loadPage($event)" [config]="paginationConfig"></app-pagination>