@import 'mixins';
@import 'media-variables';

:host {
  width: 100%;

  .user {
    @include userAvatar;
  }

  .actions {
    mat-icon {
      cursor: pointer;
      margin: 0 2px;

      &.switch-roles {
        width: 26px;
        height: 26px;
      }
    }
  }

  .col-role {
    div {
      margin: 2px 0;
    }
  }

  .sort-header {
    @include flex($justify: flex-start);

    mat-icon {
      margin-left: 5px;
    }
  }

  .col-xxl {
    @media (max-width: $mediaWidthXXL) {
      display: none;
    }
  }

  .col-xl {
    @media (max-width: $mediaWidthXL) {
      display: none;
    }
  }
}