<ion-grid>
  <ion-row class="header-logo">
    <mat-icon svgIcon="logo"></mat-icon>
  </ion-row>

  <ion-row class="header-menu">
    <ng-container *ngTemplateOutlet="menu"></ng-container>
  </ion-row>

  <ion-row class="header-menu-mobile">
    <mat-icon svgIcon="hamburger-menu" (click)="toggleMobileMenu()"></mat-icon>
  </ion-row>

  <ion-row class="header-menu right-menu" *ngIf="isShowMobileMenu">
    <mat-icon class="close-btn" svgIcon="close" *ngIf="isShowMobileMenu" (click)="toggleMobileMenu()"></mat-icon>
    <ng-container *ngTemplateOutlet="menu"></ng-container>
  </ion-row>
</ion-grid>
<ng-template #menu>
  <ion-row class="menu-link">
    <ion-label [routerLink]="'/support'">{{ "pageTitle.support" | translate }}</ion-label>
    <ion-label [routerLink]="'/products'">{{ "pageTitle.products" | translate }}</ion-label>
    <ion-label appShowForAdmin [user]="user!" [routerLink]="['/user-list']">{{ "pageTitle.userList" | translate
      }}</ion-label>
  </ion-row>

  <ion-row class="user-info" *ngIf="user; else loginBtn">
    <div class="user">
      <div *ngIf="!user.avatar" class="empty-user">
        <mat-icon svgIcon="empty-user"></mat-icon>
      </div>
      <img *ngIf="user.avatar" [src]="user.avatar" class="profile-picture" alt="user-avatar">
      <ion-label class="user-name">{{ user.userName }}</ion-label>
      <mat-icon *ngIf="!isShowMobileMenu" class="menu-icon" svgIcon="arrow-down" [matMenuTriggerFor]="menu">
      </mat-icon>
    </div>

    <mat-menu #menu="matMenu" xPosition="before" class="desktop-menu">
      <ng-container *ngTemplateOutlet="navigateBtn"></ng-container>
    </mat-menu>

    <div class="navigate-btn" *ngIf="isShowMobileMenu">
      <ng-container *ngTemplateOutlet="navigateBtn"></ng-container>
    </div>
  </ion-row>

  <ion-row class="header-search">
    <mat-icon svgIcon="search" class="search-icon"></mat-icon>
  </ion-row>
</ng-template>

<ng-template #navigateBtn>
  <button mat-menu-item [routerLink]="['/profile']">
    {{ "pageTitle.profile" | translate }}
  </button>
  <button mat-menu-item [routerLink]="['/profile/edit']">
    {{ "pageTitle.editProfile" | translate }}
  </button>
  <button mat-menu-item (click)="onLogout()">
    {{ "header.logout" | translate }}
  </button>
</ng-template>

<ng-template #loginBtn>
  <ion-row class="menu-button">
    <app-button [text]="'buttons.signIn'" [routerLink]="['/login']" [btnSize]="btnSize"
      [btnColor]="btnColor"></app-button>
    <app-button [text]="'buttons.registration'" [routerLink]="['/registration']" [btnSize]="btnSize"
      [btnColor]="btnColor">
    </app-button>
  </ion-row>
</ng-template>