<app-title [title]="title || user?.userName" [breadcrumbList]="breadcrumbs"></app-title>

<div class="container">
  <div class="wrapper">
    <app-profile-picture [profilePicture]="user?.avatar || ''" (emitPhoto)="setUserPhoto($event)">
    </app-profile-picture>
    <form [formGroup]="userForm">
      <app-input [isError]="!!(userForm.get('userName')?.invalid && userForm.get('userName')?.dirty)"
        [isRequired]="true" formControlName="userName" [label]="'fields.username'" [placeholder]="'Jon Doe'"></app-input>
      <app-input (click)="!!user && showError()" [icon]="!!user ? 'lock' : ''" [disabled]="!!user"
        [isError]="!!(userForm.get('email')?.invalid && userForm.get('email')?.dirty)" formControlName="email"
        [isRequired]="true" [label]="'fields.email'" [placeholder]="'Eg: johndoe@gmail.com'"></app-input>
      <app-input *ngIf="!user" [isRequired]="true" [type]="'password'" [isError]="!!(userForm.get('password')?.invalid && userForm.get('password')?.dirty)"
        formControlName="password" [label]="'fields.password'" [placeholder]="'fields.password'"></app-input>
      <div class="phone-number">
        <app-select (click)="!!user && showError()" [disabled]="!!user" [isRequired]="true"
          formControlName="codeCountry" [options]="flags" [label]="'fields.phone'"></app-select>
        <app-input (click)="!!user && showError()" [icon]="!!user ? 'lock' : ''" [disabled]="!!user"
          [isError]="!!(userForm.get('phone')?.invalid && userForm.get('phone')?.dirty)" formControlName="phone"
          [mask]="'000-000-000'" [placeholder]="'000-000-000'"></app-input>
      </div>
      <app-datepicker formControlName="birthday"
        [isError]="!!(userForm.get('birthday')?.invalid && userForm.get('birthday')?.dirty)" [isRequired]="true"
        [label]="'fields.birthday'" [placeholder]="'DD/MM/YYYY'"></app-datepicker>
      <app-input-autocomplete [isError]="!!(userForm.get('country')?.invalid && userForm.get('country')?.dirty)"
        formControlName="country" [isRequired]="true" formControlName="country" [options]="(filteredNames$ | async)!"
        [label]="'fields.country'" [placeholder]="'fields.selectCountry'"></app-input-autocomplete>
      <div class="actions">
        <app-button (click)="save()" [isFullWidth]="true" [text]="user ? 'buttons.update': 'buttons.save'" [btnColor]="btnColor"
          [btnSize]="btnSize">
        </app-button>
      </div>
    </form>
  </div>
</div>