@import 'mixins';
@import 'media-variables';

.container {
  @include formContainer;

  .wrapper {
    app-profile-picture {
      display: block;
      width: 319px;

      @media (max-width: $mediaWidthLG) {
        width: 100%;
      }
    }

    form {
      .phone-number {
        width: 100%;
        @include flex($justify: flex-start, $align: flex-end);

        app-select {
          display: block;
          width: 90px;
        }

        app-input {
          width: 100%;
        }
      }
    }
  }
}