<div class="user" *ngFor="let user of users">
  <div class="avatar">
    <div *ngIf="!user.avatar" class="empty-user">
      <mat-icon svgIcon="empty-user"></mat-icon>
    </div>
    <img *ngIf="user.avatar" [src]="user.avatar" class="profile-picture" alt="user-avatar">
  </div>
  <div class="field">
    <div class="label">ID:</div>
    <div class="value">{{ user.id }}</div>
  </div>
  <div class="field">
    <div class="label">Email:</div>
    <div class="value">{{ user.email }}</div>
  </div>
  <div class="field">
    <div class="label">User Name:</div>
    <div class="value">{{ user.userName }}</div>
  </div>
  <div class="field">
    <div class="label">Phone:</div>
    <div class="value">{{ user.codeCountry.value + ' ' + user.phone }}</div>
  </div>
  <div class="field">
    <div class="label">Birthday:</div>
    <div class="value">{{ user.birthday | date: 'dd/MM/YYYY' }}</div>
  </div>
  <div class="field">
    <div class="label">Banned:</div>
    <div class="value">{{ user.banned }}</div>
  </div>
  <div class="field">
    <div class="label">Ban Reason:</div>
    <div class="value">{{ user.banReason }}</div>
  </div>

  <div class="actions">
    <mat-icon appShowForAdmin [user]="user" [notShowForAdmin]="true" svgIcon="ban"
      (click)="openBanUserPopup(user.id, user.banned)"></mat-icon>
    <mat-icon appShowForAdmin [user]="currentUser!" [onlyForSuperAdmin]="true" class="switch-roles"
      (click)="openChangeRolePopup(user.id, user.roles!)" svgIcon="switch-roles"></mat-icon>
  </div>
</div>