:host::ng-deep {
  .mdc-icon-button {
    margin-right: 7px;
  }

  .mat-datepicker-toggle-default-icon {
    color: var(--dark-gray);
    -webkit-text-fill-color: var(--dark-gray);
  }

  .mat-focused,
  .is-opened {
    .mat-datepicker-toggle-default-icon {
      color: var(--dark-gray);
      -webkit-text-fill-color: var(--dark-gray);
    }
  }
}