:root {
  --white: #FFFFFF;
  --background-color: #F5F5F5;
  --red: #FF0000;
  --green: #1EB03E;
  --blue: #2A5392;
  --blue-90: #3364ac;
  --blue-80: #4176c5;
  --light-blue: #1A78A7;
  --light-blue-90: #1f8ac0;
  --light-blue-80: #1e9fe0;
  --light-gray: #ECECEC;
  --light-gray-90: #E5E5E5;
  --light-gray-80: #ebe9e9;
  --light-gray-70: #B5B5B5;
  --dark-gray: #545454;
  --dark-gray-90: #666363;
  --dark-gray-80: #7e7e7e;
  --gray-90: #F3F4F4;
  --gray-80: #CACACA;
  --background-gradient: linear-gradient(93.31deg, #4269AA -10.99%, #28AAD6 129.09%);
}