:root {
  --white: #FFFFFF;
  --background-color: #F5F5F5;
  --red: #FF0000;
  --green: #1EB03E;
  --blue: #2A5392;
  --light-blue: #1A78A7;
  --light-gray: #ECECEC;
  --dark-gray: #545454;
  --background-gradient: linear-gradient(93.31deg, #4269AA -10.99%, #28AAD6 129.09%);
}