@import 'media-variables';

@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin defaultButton {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: all .1s ease-in-out;
  white-space: nowrap;
  cursor: pointer;
}

@mixin bigButton {
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  padding: 0 32px;
  height: 50px;

  @media (max-width: $mediaWidthLG) {
    flex-direction: column;
    height: 40px;
    font-size: 14px;
  }
}

@mixin lightGrayButton {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  -webkit-text-fill-color: var(--dark-gray);
  border: 1px solid var(--light-gray-90);

  &:hover:not([disabled]) {
    background-color: var(--light-gray-90);
  }

  &:active:not([disabled]) {
    background-color: var(--light-gray-80);
  }
}

@mixin userAvatar($blockSize: 40px, $iconSize: 22px, $withBorder: false, $lgBlockSize: false, $lgIconSize: false) {

  .profile-picture,
  .empty-user {
    display: block;
    width: $blockSize;
    height: $blockSize;
    border-radius: 50%;

    @if $lgBlockSize {
      @media (max-width: $mediaWidthLG) {
        width: $lgBlockSize;
        height: $lgBlockSize;
      }
    }
  }

  .empty-user {
    @include flex;
    background-color: var(--gray-90);

    @if $withBorder {
      border: 1px dashed var(--gray-80);
    }

    mat-icon {
      color: var(--gray-80);
      width: $iconSize;
      height: $iconSize;

      @if $lgIconSize {
        @media (max-width: $mediaWidthLG) {
          width: $lgIconSize;
          height: $lgIconSize;
        }
      }
    }
  }
}

@mixin formContainer {
  padding: 0 7%;
  position: relative;

  .wrapper {
    @include flex($justify: flex-start, $align: flex-start);
    gap: 90px;
    background-color: var(--white);
    padding: 50px 50px 50px 52px;
    margin: -40px auto 0;

    @media (max-width: $mediaWidthSM) {
      margin: -134px auto 0;
    }

    @media (max-width: $mediaWidthLG) {
      flex-direction: column;
      padding: 24px 20px 40px;
      gap: 20px;
    }

    form {
      width: 100%;
    }

    .actions {
      padding-top: 12px;
      width: 100%;
      max-width: 150px;
    }
  }
}