@import 'mixins';

::ng-deep {
  .popup-confirm {
    max-width: 400px !important;
    width: 100%;
    padding: 20px;

    .mat-mdc-dialog-surface {
      overflow-y: hidden;
    }
  }
}

:host {
  box-sizing: border-box;

  .header {
    @include popupHeader;
  }

  .description {
    @include flex;
    width: 100;
    text-align: center;
    padding: 5px 20px;
    font-size: 18px;
  }

  .actions {
    @include flex($justify: space-between);
    padding: 10px 20px;
    box-sizing: border-box;
  }
}