<app-title [title]="'pageTitle.userList'"></app-title>

<div class="container">
  <div class="wrapper">
    <app-input placeholder="fields.search" [icon]="'search'" [formControl]="search"></app-input>
    <ng-container *ngIf="(users$ | async) as users">

      <app-user-table-desktop *ngIf="isTablet | async; else mobileTable" (onChangePage)="changePage($event)"
        [paginationConfig]="{ id: paginationConfig.id, totalItems: users.total, itemsPerPage: users.itemsPerPage, currentPage: users.currentPage }"
        [currentUser]="currentUser$ | async" (onUpdateList)="updateList()" (onSort)="sort($event, users.order)"
        [users]="users.data">
      </app-user-table-desktop>
      <ng-template #mobileTable>
        <app-user-table-mobile [currentUser]="currentUser$ | async" (onUpdateList)="updateList()"
          [paginationConfig]="{ id: paginationConfig.id, totalItems: users.total, itemsPerPage: users.itemsPerPage, currentPage: users.currentPage }"
          (onChangePage)="changePage($event)" [users]="users.data"></app-user-table-mobile>
      </ng-template>
    </ng-container>

  </div>
</div>