<app-title (onClick)="navigateToEdit()" [titleSize]="titleSize" [btnText]="'pageTitle.editProfile'" [btnIcon]="'edit'"></app-title>

<div class="container" *ngIf="(user$ | async) as user">
  <div class="wrapper wrapper-photo">
    <ng-container *ngTemplateOutlet="userPhoto"></ng-container>

    <app-button (click)="navigateToEdit()" [icon]="'edit'" [btnColor]="btnColor" [text]="'Edit Profile'"></app-button>
  </div>
  <div class="wrapper wrapper-info">
    <div class="user-photo">
    <ng-container *ngTemplateOutlet="userPhoto"></ng-container>
    </div>
    <div class="header">
      {{ 'profileInfo.title' | translate }}
    </div>
    <div class="user-info">
      <app-user-data [icon]="'empty-user-v2'" [label]="'fields.username'" [value]="user.userName"></app-user-data>
      <app-user-data [icon]="'email'" [label]="'fields.email'" [value]="user.email"></app-user-data>
      <app-user-data [icon]="'phone'" [label]="'fields.phone'" [value]="user.codeCountry.value + ' ' + user.phone"></app-user-data>
      <app-user-data [icon]="'calendar'" [label]="'fields.birthday'" [value]="(user.birthday | date: 'dd/MM/YYYY')!"></app-user-data>
      <app-user-data [icon]="'location'" [label]="'fields.country'" [value]="user.country"></app-user-data>
    </div>
  </div>

  <ng-template #userPhoto>
    <div *ngIf="!user.avatar" class="empty-user">
      <mat-icon svgIcon="empty-user"></mat-icon>
    </div>
    <img *ngIf="user.avatar" [src]="user.avatar" alt="Profile Picture" class="profile-picture">

    <div class="user-name">
      {{ user.userName }}
    </div>
  </ng-template>
</div>
