@import 'mixins';

::ng-deep {
  .change-role-popup {
    .mat-mdc-dialog-surface {
      overflow-y: hidden;
    }
  }
}

:host {
  padding: 20px;

  .header {
    @include popupHeader;
  }

  .checkbox-group {
    padding: 10px 0;
    @include flex($justify: flex-start);
    flex-wrap: wrap;

    mat-checkbox {
      width: 50%;
      display: block;
    }
  }

  .actions {
    @include flex;
  }
}