@import 'mixins';

::ng-deep {
  .change-role-popup {
    .mat-mdc-dialog-surface {
      overflow-y: hidden;
    }
  }
}

:host {
  padding: 20px;

  .header {
    @include flex;
    padding: 0 20px;
    color: var(--dark-gray);
    font-size: 20px;

    span {
      margin-left: auto;
    }

    mat-icon {
      margin-left: auto;
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }

  .checkbox-group {
    padding: 10px 0;
    @include flex($justify: flex-start);
    flex-wrap: wrap;

    mat-checkbox {
      width: 50%;
      display: block;
    }
  }

  .actions {
    @include flex;
  }
}