@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap");
@import "default-theme";
@import "colors";

html,
body {
  height: 100%;
}

body {
  background-color: var(--background-color);
	font-family: 'Nunito Sans', sans-serif !important;
  margin: 0;
}