<div class="header">
  <span>Ban User</span>
  <mat-icon svgIcon="close" (click)="close()"></mat-icon>
</div>

<div class="description">
  <span *ngIf="!data.isBanned">Are you sure you want to ban the user?</span>
  <span *ngIf="data.isBanned">Are you sure you want to unban the user?</span>
</div>

<ng-container [formGroup]="banForm">
  <app-input *ngIf="!data.isBanned && isShowOptionalField" formControlName="banReason" [label]="'Ban Reason'"></app-input>

  <div class="actions">
    <app-button [text]="'Yes'" (click)="submit()" [btnColor]="btnColor.blue"></app-button>
    <app-button [text]="'No'" [btnColor]="btnColor.lightGray"></app-button>
  </div>
</ng-container>